{% extends "about/about.html" %}

{% load i18n %}{% load txt2html %}

{% block subtitle %} :: {% trans "features" %}{% endblock %}
{% block menu2_features %}active{% endblock %}

{% block content %}

{{ block.super }}

<div class="row">
  <div class="col-12 col-lg-auto order-2 order-lg-1 my-4 my-lg-0">
    <img src="{{ MEDIA_URL }}images/ft_os.png" class="img-fluid rounded" alt="OS">
  </div>
  <div class="col order-1 order-lg-2">
    <h2>{% trans "Free software, multi-platform" %}</h2>
    <p>
      {% trans "WeeChat is a fast, light and extensible chat client, with a text-based user interface." %}
    </p>
    <p>
      {% trans "WeeChat is:" %}
      <ul class="list">
        <li>{% trans "<strong>modular</strong>: a lightweight core with optional plugins" %}</li>
        <li>{% trans "<strong>multi-protocols architecture</strong> (mainly IRC)" %}</li>
        <li>{% trans "<strong>multi-platforms</strong>: Linux, Unix, BSD, GNU Hurd, Mac OS X and Windows (Bash/Ubuntu and Cygwin)." %}
        <li>{% trans "<strong>extensible</strong> with C, Python, Perl, Ruby, Lua, Tcl, Scheme, Javascript and PHP" %}</li>
        <li>{% trans "<strong>fully documented</strong> and translated into several languages" %}</li>
        <li>{% trans "<strong>a free program</strong> released under the terms of the GNU General Public License version 3" %}</li>
        <li>{% trans "<strong>an active project</strong> with a large community for scripts" %}.</li>
      </ul>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col mr-auto">
    <h2>{% trans "Light and extensible" %}</h2>
    <p>
      {% trans "WeeChat is designed to be light and extensible: a <strong>lightweight core</strong> with optional <strong>plugins</strong>." %}
      <br>{% trans "Plugins and scripts can be dynamically loaded and unloaded at any time." %}
    </p>
    <p>
      {% trans "Almost everything is a plugin, for example:" %}
      <ul>
        <li>{% trans "Internet Relay Chat (IRC) protocol" %}</li>
        <li>{% trans "API for script languages" %} (Python, Perl, Ruby, Lua, Tcl, Scheme, Javascript, PHP)</li>
        <li>{% trans "IRC proxy and remote interface" %} (relay)</li>
        <li>{% trans "Scripts manager" %}</li>
        <li>Alias, aspell, charset, logger, ...</li>
      </ul>
    </p>
  </div>
  <div class="col-12 col-lg-auto my-4 my-lg-0">
    <img src="{{ MEDIA_URL }}images/ft_plugins.png" class="img-fluid rounded shadow" alt="Plugins">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12 col-lg-auto order-2 order-lg-1 my-4 my-lg-0">
    <img src="{{ MEDIA_URL }}images/ft_scripts.png" class="img-fluid rounded shadow" alt="Scripts">
  </div>
  <div class="col order-1 order-lg-2">
    <h2>{% trans "The future is now!" %}</h2>
    <p>
      {% trans "WeeChat brings a lot of <strong>innovative features</strong>, which makes it different from other console/terminal based chat clients." %}
    </p>
    <p>
      {% trans "Look by yourself (the list is not exhaustive):" %}
      <ul>
        <li>{% trans "256 colors" %}</li>
        <li>{% trans "Mouse support" %}</li>
        <li>{% trans "Customizable bars" %}</li>
        <li>{% trans "8 script languages" %}</li>
        <li>{% trans "Horizontal/vertical split" %}</li>
        <li>{% trans "Dynamic filtering of lines" %}</li>
        <li>{% trans "Incremental text search" %}</li>
        <li>{% trans "FIFO pipe" %}</li>
        <li>{% trans "Spell checking" %}</li>
        <li>{% trans "Scripts manager" %}</li>
        <li>{% trans "Remote interfaces" %}</li>
        <li>{% trans "Upgrade without quitting" %}</li>
      </ul>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col mr-auto">
    <h2>{% trans "Full-featured IRC plugin" %}</h2>
    <p>
      {% trans "IRC plugin implements the protocol as described in the RFCs 1459 and 2812." %}
    </p>
    <p>
      {% trans "It comes with many <strong>built-in features</strong>, such as:" %}
      <ul>
        <li>{% trans "Multi-servers" %}</li>
        <li>{% trans "IPv6, SSL, proxy" %}</li>
        <li>{% trans "SASL authentication" %}</li>
        <li>{% trans "Nicklist" %}</li>
        <li>{% trans "Color for nicks" %}</li>
        <li>{% trans "Color for away nicks" %}</li>
        <li>{% trans "Smart filter" %}</li>
        <li>{% trans "Anti-flood" %}</li>
        <li>{% trans "Commands redirection" %}</li>
        <li>{% trans "Custom CTCP replies" %}</li>
        <li>{% trans "Lag indicator" %}</li>
        <li>{% trans "DCC (file/chat)" %}</li>
      </ul>
    </p>
  </div>
  <div class="col-12 col-lg-auto my-4 my-lg-0">
    <img src="{{ MEDIA_URL }}images/ft_irc.png" class="img-fluid rounded shadow" alt="IRC">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12 col-lg-auto order-2 order-lg-1 my-4 my-lg-0">
    <img src="{{ MEDIA_URL }}images/ft_android.png" class="img-fluid rounded shadow" alt="Android">
  </div>
  <div class="col order-1 order-lg-2">
    <h2>{% trans "Remote interfaces" %}</h2>
    <p>
      {% trans "External interfaces (graphical or text) can connect to a running WeeChat." %}
      <br>
      {% url 'doc' as doc %}
      {% blocktrans context "They == The remote interfaces" %}They communicate with WeeChat using the <a href="{{ doc }}">relay protocol</a>.{% endblocktrans %}
    </p>
    <p>
      {% url 'about_interfaces' as interfaces %}
      {% blocktrans %}A list of interfaces is available on <a href="{{ interfaces }}">this page</a>.{% endblocktrans %}
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col mr-auto">
    <h2>{% trans "Documentation and support" %}</h2>
    <p>
      {% url 'doc' as doc_url %}
      {% blocktrans %}WeeChat is translated into several languages and has a <a href="{{ doc_url }}">comprehensive documentation</a>, also translated.{% endblocktrans %}
      <ul>
        <li>{% trans "You are new to WeeChat? Read the <strong>quickstart</strong> and <strong>user's</strong> guide." %}</li>
        <li>{% trans "Got a trivial question? The <strong>FAQ</strong> is waiting for you!" %}</li>
        <li>{% trans "You want to write a script for WeeChat? Look at <strong>scripting</strong> guide and <strong>plugin API</strong> reference." %}</li>
        <li>{% trans "Your native tongue is C? Then take a look at the <strong>developer's</strong> guide and contribute!" %}</li>
      </ul>
    </p>
    <p>
      {% url 'about_support' as support_url %}
      {% blocktrans %}There is an <a href="{{ support_url }}"><strong>excellent support</strong></a> for users. Try it if you have any questions!{% endblocktrans %}
    </p>
  </div>
  <div class="col-12 col-lg-auto my-4 my-lg-0">
    <img src="{{ MEDIA_URL }}images/ft_doc.png" class="img-fluid rounded" alt="Doc">
  </div>
</div>

{% endblock content %}
