{% extends "base.html" %}

{% load i18n %}

{% block title %}WeeChat :: {% trans "scripts" %}{% endblock %}
{% block menu %}scripts{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link {% block menu2_list %}{% endblock %}" href="{% url 'scripts' %}">{% trans "Scripts" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_add %}{% endblock %}" href="{% url 'scripts_add' %}">{% trans "Add script" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_update %}{% endblock %}" href="{% url 'scripts_update' %}">{% trans "Update script" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_pending %}{% endblock %}" href="{% url 'scripts_pending' %}">{% trans "Pending scripts" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_unofficial %}{% endblock %}" href="/files/scripts/unofficial/">{% trans "Unofficial scripts" %}</a></li>
</ul>

{% endblock content %}
