{% extends "base.html" %}

{% load i18n %}

{% block menu %}home{% endblock %}

{% block content %}

<div class="row justify-content-center mb-3 pb-3 mt-lg-4 mb-lg-5 py-lg-5 home-container">
  <div class="col-12 col-lg-auto text-center">
    <img src="{{ MEDIA_URL }}images/weechat_logo_large.png" class="img-fluid" alt="WeeChat">
  </div>
  <div class="col-12 col-lg-6 text-center">
    <h2>{% trans "WeeChat, the extensible chat client." %}</h2>
    <p class="h3 my-3">
      {% trans "Fast" %} &mdash; {% trans "Light" %} &mdash; {% trans "Free software" %}
    </p>
    <div class="row justify-content-center">
      <div class="col-auto ml-3 px-0">
        <a href="{% url 'download' %}" class="btn btn-lg btn-primary mt-4 mb-1 px-3 px-lg-5">
          {% include "svg/download.html" %} {% trans "Download" %}
        </a>
        {% if release_stable %}
        <div class="text-muted">v{{ release_stable.version }}, {{ release_stable.date_l10n }}</div>
        {% endif %}
      </div>
      <div class="col-auto ml-3 px-0">
        <a href="{% url 'home_news' %}" class="btn btn-lg btn-secondary mt-4 mb-1 px-3 px-lg-5 js-scroll">
          {% include "svg/megaphone.html" %} {% trans "News" %}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center my-3 py-3 my-lg-5 py-lg-5 home-container container-bg">
  <div class="col-12 col-lg-5 my-lg-5 mx-lg-4">
    <h3>Powerful, customizable.</h3>
    <p class="my-3">
      {% trans "Full-featured IRC plugin: multi-servers, proxy support, IPv6, SASL authentication, nicklist, DCC, and many other features." %}
    </p>
    <a href="{% url 'about_features' %}" class="btn btn-lg btn-success mt-4 mr-3 px-3 px-lg-5">
      {% include "svg/checklist.html" %} {% trans "Features" %}
    </a>
    <a href="{% url 'about_screenshots' %}" class="btn btn-lg btn-info mt-4 mr-3 px-3 px-lg-5">
      {% include "svg/camera.html" %} {% trans "Screenshots" %}
    </a>
  </div>
  <div class="col-12 col-lg-auto my-4 my-lg-5 mx-lg-4">
    <img src="{{ MEDIA_URL }}images/ft_irc.png" class="img-fluid rounded shadow" alt="IRC">
  </div>
</div>

<div class="row justify-content-center my-3 py-3 my-lg-5 py-lg-5 home-container">
  <div class="col-12 col-lg-auto order-2 order-lg-1 my-4 my-lg-5 mx-lg-4">
    <img src="{{ MEDIA_URL }}images/ft_scripts.png" class="img-fluid rounded shadow" alt="Scripts">
  </div>
  <div class="col-12 col-lg-5 order-1 order-lg-2 my-lg-5 mx-lg-4">
    <h3>{% trans "Innovative features." %}</h3>
    <p class="my-3">
      {% trans "256 colors, horizontal and vertical splits, smart filtering, customizable bars and much more!" %}
      <br><br>
      {% trans "8 scripting languages supported with a built-in scripts manager." %}
    </p>
    <a href="{% url 'scripts' %}" class="btn btn-lg btn-primary mt-4 mr-3 px-3 px-lg-5">
      {% include "svg/package.html" %} {% trans "Scripts" %}
    </a>
    {% comment %}
    <a href="{% url 'themes' %}" class="btn btn-lg btn-secondary mt-4 mr-3 px-3 px-lg-5">
      {% include "svg/paintcan.html" %} {% trans "Themes" %}
    </a>
    {% endcomment %}
  </div>
</div>

<div class="row justify-content-center my-3 py-3 my-lg-5 py-lg-5 home-container container-bg">
  <div class="col-12 col-lg-5 my-lg-5 mx-lg-4">
    <h3>{% trans "Remote interfaces." %}</h3>
    <p class="my-3">
      {% trans "Tired of your terminal?" %}
      <br>
      {% trans "Connect to your WeeChat from your browser, Android, Qt or even Emacs!" %}
    </p>
    <a href="{% url 'about_interfaces' %}" class="btn btn-lg btn-success mt-4 mr-3 px-3 px-lg-5">
      {% include "svg/desktop.html" %} {% trans "Interfaces" %}
    </a>
    <a href="{% url 'about_screenshots_app' app='relay' %}" class="btn btn-lg btn-info mt-4 mr-3 px-3 px-lg-5">
      {% include "svg/camera.html" %} {% trans "Screenshots" %}
    </a>
  </div>
  <div class="col-12 col-lg-auto my-4 my-lg-5 mx-lg-4">
    <img src="{{ MEDIA_URL }}images/ft_android.png" class="img-fluid rounded shadow" alt="Android">
  </div>
</div>

<div class="row justify-content-center my-3 py-3 my-lg-5 py-lg-5 home-container">
  <div class="col-12 col-lg-auto order-2 order-lg-1 my-4 my-lg-5 mx-lg-4">
    <img src="{{ MEDIA_URL }}images/ft_doc.png" class="img-fluid rounded border shadow2" alt="Documentation">
  </div>
  <div class="col-12 col-lg-5 order-1 order-lg-2 my-lg-5 mx-lg-4">
    <h3>{% trans "Documentation and support." %}</h3>
    <p class="my-3">
      {% trans "WeeChat is translated into several languages and has a comprehensive documentation." %}
      <br><br>
      {% trans "Excellent support for users." %}
    </p>
    <a href="{% url 'doc' %}" class="btn btn-lg btn-primary mt-4 mr-3 px-3 px-lg-5">
      {% include "svg/book.html" %} {% trans "Documentation" %}
    </a>
    <a href="{% url 'about_support' %}" class="btn btn-lg btn-secondary mt-4 ml-0 mr-3 px-3 px-lg-5">
      {% include "svg/discussion.html" %} {% trans "Support" %}
    </a>
  </div>
</div>

<div class="d-lg-none"><hr></div>

<div class="row justify-content-center my-3 py-3 my-lg-5 py-lg-5 home-container container-bg">
  <div class="col-12 col-lg-5 my-lg-5 mx-lg-4">
    <h3>{% trans "Help the project." %}</h3>
    <p class="my-3">
      {% trans "You can help the WeeChat project in many ways:" %}
      <ul>
        <li>{% trans "translation: software, documentation and this web site" %}</li>
        <li>{% trans "code: tests, bug reports, ideas for new features and patches" %}</li>
        <li>{% trans "donation: any contribution is appreciated and important for motivation." %}</li>
      </ul>
    </p>
    <a href="{% url 'donate' %}" class="btn btn-lg btn-success mt-4 mr-3 px-3 px-lg-5">
      {% include "svg/heart.html" %} {% trans "Make a donation" %}
    </a>
  </div>
  <div class="col-12 col-lg-auto my-4 my-lg-5 mx-lg-4">
    <img src="{{ MEDIA_URL }}images/github_thumbsup.png" class="img-fluid rounded border shadow" alt="github">
  </div>
</div>

<div class="d-lg-none"><hr></div>

<div class="row justify-content-center my-3 py-3 my-lg-5 py-lg-5 home-container" id="news">
  <div class="col-12 col-lg-4 my-4 my-lg-0">
    <h3 class="pb-2 border-bottom">{% trans "Latest news" %}</h3>
    {% for info in info_list %}
    <div class="row pt-2 pb-3">
      <div class="col-12 col-md-3">
        {{ info.date_l10n }}
      </div>
      <div class="col-12 col-md-9">
        <p class="my-0">
          <a href="{% url 'home_info_id_title' info.id info.date_title_url %}">{{ info.title_i18n }}</a>
        </p>
      </div>
    </div>
    {% endfor %}
    <a href="{% url 'home_news' %}" class="btn btn-lg btn-primary mt-3 px-3 px-lg-5">
      {% include "svg/megaphone.html" %} {% trans "All news" %}
    </a>
  </div>
  <div class="col-12 col-lg-4 my-4 my-lg-0">
    <h3 class="pb-2 border-bottom">{% trans "Upcoming events" %}</h3>
    {% for event in event_list %}
    <div class="row pt-2 pb-3">
      <div class="col-12 col-md-3">
        {{ event.date_l10n }}
      </div>
      <div class="col-12 col-md-9">
        <p class="my-0">
          <a href="{% url 'home_info_id_title' event.id event.date_title_url %}">{{ event.title_i18n }}</a>
        </p>
      </div>
    </div>
    {% endfor %}
    <a href="{% url 'home_events' %}" class="btn btn-lg btn-primary mt-3 px-3 px-lg-5">
      {% include "svg/calendar.html" %} {% trans "All events" %}
    </a>
  </div>
</div>

{% endblock content %}
